

.banner {
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    .image_banner {
        @include width_height_background ();
        @media screen and (max-width: 800px){
height: 111px;
}
        
    }
    .text1_home{
        
font-size: 48px;
font-weight: 500;
line-height: 68px;
letter-spacing: 0em;
text-align: left;
color:$color-white;
position:absolute;
font-weight: bold;
@media screen and (max-width: 991px){
    width: 49%;
    font-size: 30px;
    line-height: 24px;
    font-weight: normal;
    }
@media screen and (max-width: 800px){
    text-align: left;
font-size: 24px;
line-height: 24px;
width:70%;
display: flex;
align-items: start;
justify-content: start;
}
    }
}