

.error {

    img {
        width: 597px;
        height: 263px;
        @include page-error();
        margin: auto;
        margin-top:100px ;
        margin-bottom: 100px;
        @media screen and (max-width: 991px){
          width: 198px;
          height: 99px;

          }
          @media screen and (max-width: 800px) {
            width: 198px;
          height: 99px;
          }
    }
    .first_message {
        color: $color-principal;
        @include page-error();
font-size: 36px;
font-weight:$weight-general;
line-height: 51px;
letter-spacing: 0em;
text-align: left;
@media screen and (max-width: 991px){
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  }
  @media screen and (max-width: 800px) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
    }
      .second_message{
        color: $color-principal;
        font-weight:$weight-general;
        @include page-error();
font-size: 18px;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
margin-top: 100px;
margin-bottom: 100px;
@media screen and (max-width: 991px){
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  }
  @media screen and (max-width: 800px) {
    display: flex;
    align-items: center;
    justify-content: center;
  font-size: 14px;
  }
      }
      a{
        text-decoration-color:$color-principal;
      }
}